 <% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book), method: :delete do %>
    <span class="text-danger"><i class="fa-solid fa-heart"></i><%= book.favorites.count %></span>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(book), method: :post do %>
    <span class="text-primary"><i class="fa-regular fa-heart"></i><%= book.favorites.count %></span>
  <% end %>
<% end %>