<h1>Users</h1>
<div>
  <% @users.each do |user| %>
    <div><%= image_tag user.get_profile_image(100, 100) %></div>
    <p><%= user.name %></p>
    <p><%= link_to 'show', user_path(user.id) %></p>
  <% end %>  
</div>