<div class="container mt-3">
  
  <%= render 'layouts/error_messages', obj: @new_book %>
  
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2>New book</h2>
      <%= render 'form', book: @new_book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <%= render 'index', books: @books %>
      </div>
      
  </div>
</div>

