<% if @range == "user" %>
  <h1>User search for "<%= @word %>"</h1>
  <%= render 'users/index', users: @users %>
<% else %>
  <h1>Book search for "<%= @word %>"</h1>
  <%= render 'books/index', books: @books %>
<% end %>